/*Sections*/

.main-box {
  margin-top: 2rem;
  text-align: center;
  /*margin-bottom: 3rem;*/
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-section {
  margin-top: 2rem;
}

/*.image-section {

}*/

.images-box {
  padding: 2rem 0 .5rem 0;
}

.text-box {
  padding-bottom: 4rem;
}

/*Background colors*/

.color-1 {
  background-color: #f0b7b9;
}

.color-2 {
  background-color: #FF9EA0;
}

.color-3 {
  background-color: #FFA79E;
}

.color-4 {
  background-color: #FFDF9E;
}

.color-5 {
  background-color: #A1B8B6;
}

.color-6 {
  background-color: #729592;
}

.color-7 {
  background-color: #507F7C;
}

.color-8 {
  background-color: #3D4F73;
}

.color-9 {
  background-color: #231C3A;
}

.color-10 {
  background-color: #A2CD9D;
}

/*Images*/

#bunny-img {
  justify-content: center;
  align-items: center;
  width: 60%;
  -webkit-animation-duration: 1s;
  /*-webkit-animation-delay: 1s;*/
  /*-webkit-animation-iteration-count: 1;*/
}

#hidden-img-1 {
   -webkit-animation-duration: 2s;
   -webkit-animation-delay: 1.5s;
    width: 45%;
 }

#hidden-img-2 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  width: 70%;
}

#hidden-img-3 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  width: 70%;
}

#hidden-img-4 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 3s;
  width: 80%;
}

#hidden-img-5 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2.5s;
  width: 65%;
}

#hidden-img-6 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 3.5s;
  width: 45%;
}

.smaller {
  size: 20%;
}

.hidden {
  visibility: hidden;
  -webkit-animation-duration: 2s;
}

/*Text*/

.title-text {
  padding-left: 0rem;
  text-align: center;
  color: white;
  font-family: 'Barrio', cursive;
}

.quote-text {
  height: 40px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

/*Button*/

#btn {
  border-color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.btn-1 {
  border: auto;
  background-color: black;
  font: 'Barrio', cursive;
  height: 11rem;
  width: 22rem;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
}

.btn-2 {
  border: auto;
  background-color: #74AF6E;
  font: 'Barrio', cursive;
  color: black;
}
